<o-form
  attr="noticeAdmin"
  service="noticeAdmin"
  entity="noticeAdmin"
  keys="NOTICE_ID"
  header-actions="R;I;U;D"
  show-header-navigation="no"
  confirm-exit="no"
>
  <o-row>
    <o-column style="font-size: 12px;" title="{{ 'NEW_NOTICE' | oTranslate }}" fxFlex>
      <o-row fxFlex="100">
        <o-text-input
          attr="NOTICE_TITLE_SPANISH"
          fxFlex="50"
          layout-padding
          required="yes"  
      ></o-text-input>   
      </o-row>
      <o-row fxFlex="100">
        <o-text-input
          attr="NOTICE_TITLE_ENGLISH"
          fxFlex="50"
          layout-padding
          required="yes"  
      ></o-text-input>   
      </o-row>
      <o-textarea-input 
        attr="NOTICE_DESCRIPTION_SPANISH"
        fxFlex="50"
        layout-padding
        required="yes"
    ></o-textarea-input>
    <o-textarea-input 
        attr="NOTICE_DESCRIPTION_ENGLISH"
        fxFlex="50"
        layout-padding
        required="yes"

    ></o-textarea-input>
    <o-row>
        <o-image
        attr="NOTICE_IMG"
        show-controls="no"
        read-only="no"
        label="File" 
        fxFlex="30"
      ></o-image>
    </o-row>
    </o-column>
  </o-row>
</o-form>


