<o-list class="listanoticias" #list attr="noticeTable" title="{{ 'NOTICE_BOARD' | oTranslate }}" service="notice" entity="notice"
keys="NOTICE_ID" delete-button="false" refresh-button="true" pagination-controls="true" page-size-options="2;5;10" 
columns="NOTICE_ID;NOTICE_TITLE_SPANISH;NOTICE_TITLE_ENGLISH;NOTICE_DESCRIPTION_SPANISH;NOTICE_DESCRIPTION_ENGLISH;NOTICE_IMG;NOTICE_DATE" 
quick-filter-columns="NOTICE_TITLE_SPANISH;NOTICE_TITLE_ENGLISH;NOTICE_DESCRIPTION_SPANISH;NOTICE_DESCRIPTION_ENGLISH">
  <mat-card *ngFor="let row of list.dataArray" [o-list-item]="row">
    <mat-card-header>
      <div *ngIf="row.NOTICE_IMG != null" mat-card-avatar>
        <img [src]="getImageSrc(row.NOTICE_IMG)" alt="" width="45px" height="45px" />
      </div>


      <div *ngIf="row.NOTICE_IMG == null" mat-card-avatar>
        <img [src]="getEmptyImageSrc()" alt="" width="45px" height="45px"/>
      </div>

      <div *ngIf="idiomaActual === 'es'">
        <mat-card-title>{{ row.NOTICE_TITLE_SPANISH }}</mat-card-title>
        <mat-card-subtitle style="text-align: justify;max-width: 88%;">{{ row.NOTICE_DESCRIPTION_SPANISH }}</mat-card-subtitle>
        <mat-card-subtitle style="color: #000000; font-weight: bold; text-align: right; max-width: 97%;">{{ row.NOTICE_DATE | date:'short' }}</mat-card-subtitle>
      </div>
  
      <div *ngIf="idiomaActual === 'en'">
        <mat-card-title>{{ row.NOTICE_TITLE_ENGLISH }}</mat-card-title>
        <mat-card-subtitle style="text-align: justify;max-width: 88%;">{{ row.NOTICE_DESCRIPTION_ENGLISH }}</mat-card-subtitle>
        <mat-card-subtitle style="color: #000000; font-weight: bold; text-align: right; max-width: 97%;">{{ row.NOTICE_DATE | date:'short' }}</mat-card-subtitle>
      </div>

  </mat-card-header>
</mat-card>

    


