.languagesel attr {
    padding-top: 50px;
    color: #0066cc;         /* Cambia el color del texto según tu preferencia */
    font-size: 18px;        /* Cambia el tamaño de la fuente según tu preferencia */
    font-weight: bold;   }