<o-form
  service="notice"
  entity="notice"
  keys="NOTICE_ID"
  header-actions="R;I;U;D"
  show-header-navigation="no"
>
  <o-row>
    <o-column title="{{ 'NEW_NOTICE' | oTranslate }}" fxFlex>
      <o-row fxFlex="100">
        <o-text-input
          attr="NOTICE_TITLE"
          fxFlex="50"
          layout-padding
          required="yes"  
      ></o-text-input>   
      </o-row>
      <o-textarea-input 
        attr="NOTICE_DESCRIPTION"
        fxFlex="50"
        layout-padding
        required="yes"
    ></o-textarea-input>
    <o-row>
        <o-image
        attr="NOTICE_IMG"
        show-controls="no"
        read-only="no"
        label="File" 
        fxFlex="30"
      ></o-image>
    </o-row>
     <!-- <o-row>
        <o-radio class="languagesel"[static-data]="getDataArray()" 
        [data]="getValue()" value-column="key" columns="key;value" visible-columns="value" read-only="no" required="yes"
         layout="row"></o-radio
    </o-row> -->
    </o-column>
  </o-row>
</o-form>


